ion-row.table ion-col{
    border: solid white .5px
}


/* Edit Modal */
ion-modal.edit{
    --background: var(--ion-color-tertiary)
}

ion-modal.edit ion-input, ion-modal.edit ion-select{
    --background: var(--ion-color-primary);
    background: var(--ion-color-primary)!important;
    --color: var(--ion-color-light);
    color: var(--ion-color-light)!important;
}

ion-searchbar.search{
    --background: white!important;
    --color: black
}

ion-button.search{
    font-size: 2rem;
    height: 100%; 
}